// Tailwind CSS is used for styling; no additional custom styles are needed.


::ng-deep {

    .ant-modal{
        width: fit-content!important;
    }
    .ant-modal-content{
        width: fit-content;
    }
    .ant-modal-body {
        padding: 1em !important;
        min-width: 20rem;
    }

    .ant-modal-confirm-body-wrapper {
        padding: 1.5em !important;
        padding-right: 2.5rem !important;
    }
}